<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1eaa2">  <td>18/12/08 11:59:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.doLogin()[pri:0, instance:Annotations.TestCase1@56235b8e]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>main@2097514481</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>18/12/08 11:59:40</td>   <td>11249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase1.Login()[pri:0, instance:Annotations.TestCase1@56235b8e]">Login</td> 
  <td>main@2097514481</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>18/12/08 12:00:11</td>   <td>41777</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MyMethods.close()[pri:0, instance:Annotations.TestCase1@56235b8e]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@2097514481</td>   <td></td> </tr>
</table>
