<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="939fd1">  <td>18/12/08 09:19:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase1.Login()[pri:0, instance:TL.week5.day1.TestCase1@21213b92]">Login</td> 
  <td>main@2083117811</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>18/12/08 09:20:14</td>   <td>46447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase4.Login()[pri:0, instance:TL.week5.day1.TestCase4@4e1d422d]">Login</td> 
  <td>main@2083117811</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>18/12/08 09:20:42</td>   <td>74662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase3.Login()[pri:0, instance:TL.week5.day1.TestCase3@66480dd7]">Login</td> 
  <td>main@2083117811</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>18/12/08 09:21:16</td>   <td>108622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase2.Login()[pri:0, instance:TL.week5.day1.TestCase2@52a86356]">Login</td> 
  <td>main@2083117811</td>   <td></td> </tr>
</table>
