<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a81e8">  <td>18/12/16 11:45:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Parameters.Login2(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:TL.week6.Day2.Parameters@52a86356]">Login2</td> 
  <td>main@1757143877</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/12/16 11:45:32</td>   <td>14944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Parameters.Login2(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:TL.week6.Day2.Parameters@52a86356]">Login2</td> 
  <td>main@1757143877</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>18/12/16 11:45:10</td>   <td>-7247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod1.doLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:TL.week6.Day2.Parameters@52a86356]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>main@1757143877</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>18/12/16 11:45:27</td>   <td>9829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod1.doLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:TL.week6.Day2.Parameters@52a86356]">&gt;&gt;doLogin</td> 
<td>&nbsp;</td>  <td>main@1757143877</td>   <td></td> </tr>
</table>
